/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

.body {
  background-color: #b8c6cc;
}

.main-page {
  padding: 10px;
}

.badge-info {
  background-color: #b8c6cc;
  color: #484848;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-primary {
  background-color: #3A4A4D;
  color: #b8c6cc;
  border-color: #b8c6cc;
  width: 180px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #3A4A4D !important;
  color: #ffffff;
  border-color: #3A4A4D;
}

.btn-secondary {
  background-color: #54686a;
  color: #b8c6cc;
  border-color: #b8c6cc;
  width: 180px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:focus {
  background-color: #54686a !important;
  color: #ffffff;
  border-color: #54686a;
}

.btn-primary-outline {
  color: #3A4A4D;
}

.btn-primary-outline:hover,
.btn-primary-outline:active,
.btn-primary-outline:focus,
.btn-primary-outline:active:focus {
  background-color: #cfd8dc !important;
  color: #3A4A4D;
  border-color: #3A4A4D;
}

.mat-header-cell {
  font-size: medium;
  color: #b8c6cc;
  padding-left: 20px;
  background-color: #484848;
}

.mat-cell {
  font-size: medium;
  color: #b8c6cc;
  padding-left: 20px;
}
