<div>
  <h1><span class="badge badge-info">College Recruits</span></h1>
  <h4><span class="badge badge-info about-span">Version 0.4.0</span></h4>
  <div class="about-div">
    <p>This application is a project to keep track of college football recruits and players.</p>
    <p>You can create an account and set a default college preference.  You can look at players
      for any college but the players list will default to your college preference.  You have to
      be an Administrator to load new players.</p>
    <p>This is a spring boot angular application using a postgresql database.</p>



  </div>
</div>
