<div class="div-main-layout">
  <div class="row">
    <div class="col">
      <h1><span class="badge badge-info">College Recruits</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3><span class="badge badge-info">Create Account</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="password" class="form-control" placeholder="Confirm Password" [(ngModel)]="password2" (keyup)="validatePassword()">
      </label>
    </div>
  </div>
  <div class="row" *ngIf="passwordsDontMatch">
    <div class="col">
      <span class="error-message">Passwords do not match</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="error-message">&nbsp;</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" title="CreateAcct" class="btn btn-primary" (click)="createSiteUser()">
        Create Account
      </button>
    </div>
  </div>
</div>
