
.div-main-layout {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.btn-primary {
  background-color: #3A4A4D;
  color: #cfd8dc;
  border-color: #cfd8dc;
  width: 180px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #cfd8dc !important;
  color: #3A4A4D;
  border-color: #3A4A4D;
}
