
.div-main-layout {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

.success-message {
  color: #484848;
  font-weight: bold;
  font-size: medium;
}

.error-message {
  color: crimson;
}
