<div class="div-main-layout">
  <div class="row">
    <div class="col">
      <h1><span class="badge badge-info">College Recruits</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3><span class="badge badge-info">Welcome Back</span></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
      </label>
    </div>
  </div>
  <div class="row" *ngIf="userLoginFailed">
    <div class="col">
      <span class="error-message">{{userLoginErrorMsg}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="error-message">&nbsp;</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" title="Signin" class="btn btn-primary" (click)="loginUser()">
        Sign In
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col">
      <span class="badge badge-info">No account?  No Problem.</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" title="CreateAcct" class="btn btn-secondary" routerLink="/signup">
        Create Account
      </button>
    </div>
  </div>
</div>
