<div class="div-main-layout">
  <div class="row">
    <div class="col">
      <h1><span class="badge badge-info">College Recruits</span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3><span class="badge badge-info">Change Password</span></h3>
    </div>
  </div>

  <!-- username -->
  <div class="row">
    <div class="col">
      <label>
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="oldUsername">
      </label>
    </div>
  </div>

  <!-- old password -->
  <div class="row">
    <div class="col">
      <label>
        <input type="password" class="form-control" placeholder="Old Password" [(ngModel)]="oldPassword">
      </label>
    </div>
  </div>

  <!-- new password -->
  <div class="row">
    <div class="col">
      <label>
        <input type="password" class="form-control" placeholder="New Password" [(ngModel)]="newPassword"
               (blur)="validatePassword()">
      </label>
    </div>
  </div>
  <div class="row" *ngIf="newPasswordError">
    <div class="col">
      <span class="error-message">{{newPasswordErrorMsg}}</span>
    </div>
  </div>

  <!-- new password2 -->
  <div class="row">
    <div class="col">
      <label>
        <input type="password" class="form-control" placeholder="Confirm New Password" [(ngModel)]="newPassword2"
               (keyup)="validatePassword2()">
      </label>
    </div>
  </div>
  <div class="row" *ngIf="newPassword2Error">
    <div class="col">
      <span class="error-message">{{newPassword2ErrorMsg}}</span>
    </div>
  </div>

  <div class="row" *ngIf="passwordChanged">
    <div class="col">
      <span class="success-message">Password changed successfully!&nbsp;&nbsp;&nbsp;You can now </span>
      <button type="button" title="Login" class="btn btn-primary-outline" routerLink="/signin">Login</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="error-message">&nbsp;</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" title="CreateAcct" class="btn btn-primary" (click)="changePassword()">
        Change Password
      </button>
    </div>
  </div>
</div>
